In [2]:
d = {"a":1,"b":2,"c":3,"d":4}
d["a"]

1

In [4]:
d["e"]=5
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
del d['b']
d

{'c': 3, 'd': 4, 'e': 5}

In [10]:
d.clear()
d

{}

In [11]:
li = [1,2,3,"a"]
li

[1, 2, 3, 'a']

In [13]:
del li[2]
li

[1, 2]

In [15]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
d['a']=0

In [17]:
d

{'a': 0, 'b': 2, 'c': 3, 'd': 4}

In [19]:
d.items()

dict_items([('a', 0), ('b', 2), ('c', 3), ('d', 4)])

In [20]:
dd = {'a': [1,2,3,4], 'b': 2, 'c': 3, 'd': 4}

In [21]:
dd

{'a': [1, 2, 3, 4], 'b': 2, 'c': 3, 'd': 4}

In [23]:
li = dd.items()

In [24]:
li

dict_items([('a', [1, 2, 3, 4]), ('b', 2), ('c', 3), ('d', 4)])

In [25]:
li[0]

TypeError: 'dict_items' object does not support indexing

In [28]:
li = [('a', [1, 2, 3, 4]), ('b', 2), ('c', 3), ('d', 4)]

In [31]:
li[0][1][2]

3

In [27]:
ll = [(1,2),(3,4,5)]
ll[0]

(1, 2)

In [35]:
a1 = 2
a2 = 3
a3 = 5
a = [a1>1, a2==3, a3>10,2]
a

[True, True, False, 2]

In [36]:
sum(a)

4

In [39]:
9!= 6

True

In [40]:
x=6
if x<6:
    x=0
else:
    x=1
x

1

In [46]:
x=6
x=0 if x<6 else 0
x

0

In [47]:
st = "123 yibo"
st.upper()

'123 YIBO'

In [52]:
st1 = 'a  bc   '
len(st1)

8

In [53]:
st1.strip()

'a  bc'

In [54]:
len(st1.strip())

5

In [58]:
x='a' 
y="b"
z=1
st = "%s %s %d abc" %(x,y,z)
st

'a b 1 abc'

In [59]:
li = [1,2,34,'ad']
li[-1]

'ad'

In [62]:
print(li[-1],'er','afsetr')

ad er afsetr

In [61]:
type(li[-1])

str

In [63]:
'{}{}{}{}'.format(1,2,'a','b')

'12ab'

In [66]:
 '{0} {1} {2}{3}'.format(1,2,'a','b')

'1 2 ab'

In [67]:
'{0} loves {1}'.format('bo','sunegg')

'bo loves sunegg'

In [69]:
"{0}{1}".format('{0} loves {1}'.format([234,2344],'sunegg'),12)

'[234, 2344] loves sunegg12'

"{:.2f}".format("3.1415926")
# 数值加引号 （字符串）------不具备大小功能

In [72]:
"{:.2f}".format(3.1415926)

'3.14'

In [73]:
li= ["i",'am','a','boy']
' '.join(li)

'i am a boy'

In [74]:
'i am a boy'.split(" ")

['i', 'am', 'a', 'boy']

In [76]:
x=3
if x<4:
    print("a")
elif x>2:
    print("b")
print('out if')

a
out if

x = 3
while x<20:
    x+=1
    if x==10:
        continue # continue 后的 print 不执行，作用为跳过当前循环
    print (x)

In [86]:
n = 0
while n < 10:
    n = n + 1
    if n % 2 == 0:      # 如果n是偶数，执行continue语句
        continue        # continue语句会直接继续下一轮循环，后续的print()语句不会执行
    print(n)

1
3
5
7
9

In [88]:
x = 3
while x<20:
    x+=1
    print (x)
    if x==10:
        break #推出循环

4
5
6
7
8
9
10

In [95]:
a = [1,2,3,-1]
b = [True,True,True,False]
c = ['a','b']
for num in a:
    c.append(num>0)
    print(c)

['a', 'b', True]
['a', 'b', True, True]
['a', 'b', True, True, True]
['a', 'b', True, True, True, False]

In [92]:
c

[True, True, True, False]

In [2]:
st = "Hello world"
a=[]
for num in st:
    a.append(num)
    print(a)

['H']
['H', 'e']
['H', 'e', 'l']
['H', 'e', 'l', 'l']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o', ' ']
['H', 'e', 'l', 'l', 'o', ' ', 'w']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
a = [(1,2),(2,3),(5,6)]
for (x,y)

# 键-值对 组成的字典

d = {'1.2':2,"a":3} 
# 字典中，键1-值对可以为任意类型的数据，键可以是整数型字符串：“1”
d

d['1.2'] 
# 字典的检索（搜索）功能，直接检索 键

# 字典中的加入新元素，直接赋值新的键-值对，乱序加入字典中（应该是按照阿斯玛值），因为字典中的键不是从0-n的顺序排列，每个键都是独立的“字符串”
d['2']=100
d

In [26]:
d

{}

In [21]:
del d['1.2']
d

{'a': 3, 1.5: 10, '2': 100}

In [23]:
d.clear()
d

{}

In [34]:
d={'1':2,'2':3}
d.values()
d.keys()

dict_keys(['1', '2'])

In [35]:
d.items()

dict_items([('1', 2), ('2', 3)])

# 布尔型的数据是一个常数
a1=1
a2=2
a3=3
a = [a1>0,a2>1,a3>3]
a

In [37]:
a

[True, True, False]

In [40]:
a=1
b = [a!=2]
b

[True]

x=2
x="high" if x>2 else "low"   
# high 和 low 一定要用“”表示为字符串，否则会自动识别为变量（变量先要进行赋值，才不会报错）
print (x)

# 以下语句本质其实是更换x值的操作
x=2
if x>2:
    x="high"
else:
    x="low"
print (x)

In [51]:
# 可以先对high和low赋值，赋值完成之后，可以不加引号，直接调用
x = 2
high = 1
low = 0
x = high if x>2 else low
print (x)

0

In [53]:
st = "abc     "
st.strip()
len(st)

8

In [54]:
a = 'yibo'
b = 'python'
'%s now is learning the %s' % (a,b)

'yibo now is learning the python'

In [55]:
print ("qwe",'12')

qwe 12

In [74]:
'{}{}{}{}'.format("a","1","c","d")

'a1cd'

In [77]:
b = 1
a= [b>0]
a

[True]

b = "1"
a= [b>0] #字符串是没有大小的，不能比较
a

In [8]:
type(("y","p"))

tuple

In [6]:
'{}{}{}{}'.format(("y,p"),'1',"c","d")  


# 这是一种什么数据类型？？

'y,p1cd'

In [70]:
("y,p,1,2")

'y,p,1,2'

{:.3f}.format(3.1231231231122)

# 一定要在字典外面加上， 字符串的标志“” ，否则输出有问题===因为这是string的操作

In [73]:
'{:.3f}'.format(3.1231231231122)

'3.123'

';'.join('1','2')
# 一定要有一个容器：【】列表先装着这些"字符串"

In [81]:
';'.join(['1','2'])

'1;2'

In [116]:
';'.join(（'1','2'）) #是否是因为元组的内容不可修改

SyntaxError: invalid character in identifier (<ipython-input-116-ed4319b78705>, line 1)

In [82]:
x=3
while x<5:
    x=x+1
    print (x)

4
5

In [84]:
x=3
while x<5:
    print (x)
    x=x+1

3
4

In [97]:
x=3
while x<20:
    x=x+1
    print (x)
    if x==10:
        break

4
5
6
7
8
9
10

In [102]:
for (x,y) in [(1,1),(1,1),("c",1)]:
    print (x)

1
1
c

In [107]:
x= 3 
for x < 20:
    x=x+1
    for x in range(5):
    print (x)

SyntaxError: invalid syntax (<ipython-input-107-b57dd73c1f66>, line 2)

In [105]:
for x in range (5):
    print (x)

0
1
2
3
4

In [5]:
a=(["yibo",1],("key",2)) #为什么一个（元组）内不能嵌套连个不同类型
for i in range(len(a)):
    print ({i:a[i]})

{0: ['yibo', 1]}
{1: ('key', 2)}

In [2]:
len(a)

2

In [118]:
tu = ["q",1,[1,2],(1,2)]
tu

['q', 1, [1, 2], (1, 2)]

In [120]:
a= "abc (1,2)+ [a,2,a]"
a

'abc (1,2)+ [a,2,a]'

In [121]:
a= (1,2,3,)#元组也可以切片
a[:]

(1, 2, 3)

In [123]:
a = (1,2,3,4,5)     
a1=(3 in a, 2 in a)
a1

(True, True)

In [129]:
a = ["yi bo"]
a.append(["pig"])
a

['yi bo', ['pig']]

In [133]:
a = ["yi bo"]
a.extend(["pig"])
a

['yi bo', 'pig']

In [144]:
a= {"a":1,1:2}   # 字典的键 并不一定要用“”引起来
a.keys()
a["a"]

1

In [146]:
";".join(["a","b"])

'a;b'

In [149]:
a= [1,2,3,4,5]
for i in range(len(a)):
    print ([i,a[i]])

[0, 1]
[1, 2]
[2, 3]
[3, 4]
[4, 5]

In [151]:
for (i,item) in enumerate (a):
    print (i,item)

0 1
1 2
2 3
3 4
4 5

In [139]:
a= {"a":1,1:2}
a

{'a': 1, 1: 2}