In [1]:

if a = 2:
    b = 6

SyntaxError: invalid syntax (<ipython-input-1-e42423b793bf>, line 1)

In [2]:
10 % 3

1

In [3]:
10 // 3

3

In [7]:
st = "hello world"
print(st[1])
print(st[6])
print(st[5])

e
w

In [15]:
tu = (1,1.2,"a","ab")
tu[1]
tu[-4\
  ]

1

In [27]:
li = [1,2,"q"]
li2 = li
li2[0] = 0
print(li2)
print(li)

[0, 2, 'q']
[0, 2, 'q']

In [28]:
print(id(li2))
print(id(li))

2111878154888
2111878154888

In [29]:
li = [1,2,"q"]
li3 = li[:]
li3[0] = 0
print(li3)
print(li)

[0, 2, 'q']
[1, 2, 'q']

In [30]:
print(id(li3))
print(id(li))

2111878149256
2111878149576

In [20]:
tu = (23,"abc",4.56,(2,3),"def","bb")
print (tu[0: :2])
print (tu[1:-1:2])

(23, 4.56, 'def')
('abc', (2, 3))

In [33]:
5 in tu 
"bb" in tu

True

In [43]:
st="a68g88def"
"af" in st
"ab" in st
len(st)
max(st)

'g'

In [38]:
a = "1,2"
b = "3,5"
a + b

'1,23,5'

In [46]:
a = ["a","b","c"]

id(a)

2111878900872

In [40]:
max(a)

'c'

In [47]:
a[1]=1
a
id(a)

2111878900872

In [48]:
tu

(23, 'abc', 4.56, (2, 3), 'def', 'bb')

In [49]:
tu[1]=0

TypeError: 'tuple' object does not support item assignment

In [50]:
a

['a', 1, 'c']

In [58]:
a.append(1)
print (a)

['a', 1, 'c', 1, 1, 1, 1, 1, 1, 1, 1]

In [60]:
a.insert(3,0)
a

['a', 1, 'c', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1]

In [64]:
a.extend([3])
a

['a', 1, 'c', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 5, 3]

In [65]:
a.append([3,4,5])
a

['a', 1, 'c', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 5, 3, [3, 4, 5]]

In [66]:
a[-1]

[3, 4, 5]

In [67]:
a

['a', 1, 'c', 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 5, 3, [3, 4, 5]]

In [70]:
a.reverse()
a

[[3, 4, 5], 3, 5, 4, 3, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 'c', 1, 'a']

In [73]:
a = [2,3,5,7,2,7]
sorted(a,reverse=True)

[7, 7, 5, 3, 2, 2]

In [75]:
b=tuple(a)
b

(2, 3, 5, 7, 2, 7)

a = 6
b = 0
if a==6:
    b = b+1
print (b)
# a=6 b=0 要分两行写？ 为何

In [24]:
st = "Hello"
st[1]

'e'

In [35]:
li = [1,2,3,4]
li[0:3]
# 切片时 通过：连接开始与结束
# 切片得到的序列类型与原始的一致

[1, 2, 3]

In [36]:
tu = (1,2,3,4)
tu[1:2]

(2,)

In [43]:
li = [1,2,3,4,5]
li[0:4:2]

[1, 3]

In [41]:
li = [1,2,3,4,5]
li[0::2]

[1, 3, 5]

In [46]:
li = [1,2,3,4,5]
li1=li
li1[0]=0 #索引命令用于查找的同时，可以直接赋值用于替换命令
print (li1)
print (li)

[0, 2, 3, 4, 5]
[0, 2, 3, 4, 5]

In [1]:
li = [1,2,3,4]
len(li) #函数后面一定要加（）

4

In [3]:
li = [1,2,3,4,5]
li[1] = 0
li

[1, 0, 3, 4, 5]

In [4]:
tu = (1,2,3,4,5)
tu[0]=0   #tuple 的替换会直接报错

TypeError: 'tuple' object does not support item assignment

In [5]:
li = [1,2,3,4,5]
li[1]

2

In [6]:
li.index(2)

1

In [10]:
li.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [12]:
li.reverse()
li

[1, 2, 3, 4, 5]

In [13]:
li = [1,2,3]
li.reverse()  #逆转之后以前位置的时间直接被替代了
li

[3, 2, 1]

In [16]:
li = [1,2,3,4]
li.append("a")
li

[1, 2, 3, 4, 'a']

In [22]:
li = [1,2,3,4,]
li.append(("a"))
li

[1, 2, 3, 4, 'a']

In [23]:
li = [1,2,3,4,]
li.extend(("a"))
li

[1, 2, 3, 4, 'a']